@charset "ISO-8859-1";
@import url("./font.css");

:root {
    --pink: #FF9B9B;
    --main_font: 'Google Sans', sans-serif;
}


* {
    font-family: var(--main_font);
}


/* navigation bar */
nav {
    background-color: #ffffff;
    width: 100%;

    align-items: center;
    justify-content: space-between;
    text-align: center;
    
    padding: 5px;
    border-bottom: 0.3px #e6e6e6 solid;
    
    display: flex;
    position: fixed;
    top: 0;

    z-index: 5;
}

.fireship_logo {
    margin-left: 10px;
    height: 35px;
}

.cart_icon {
    padding-right: 10px;
    color: #D6D6D6;
}

.cart_icon:hover {
    color: #FF9B9B;
}






.wrapper_container {
    /* background-color: #f5f5f5; */
    max-width: 80%;
    padding: 10px 20px;
    margin: 60px auto 0px auto;
    border: 0.2px #ebebeb solid;
}

.wrapper_container h1 {
    color: var(--pink);
    font-weight: bold;
    font-family: var(--main_font);
    font-size: 35px;
    letter-spacing: -1px;
    margin-bottom: 20px;
    padding-top: 10px;
}



.item {
    width: 100%;
    /* background-color: white; */
    display: inline-flex;
    font-family: var(--main_font);
    padding-bottom: 10px;
    border-bottom: 1px rgb(226, 226, 226) solid;
    margin-bottom: 13px;
}

.item_image_container {
    width: 200px;
    height: 100px;
    background-color: #9ed0ff;
}

.product_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.item_info {
    width: 100%;
    font-size: 14px;
    position: relative;
    margin-left: 10px;
}

.item_info a {
    text-decoration: none;
    color: unset;
}

.product_name {
    /* truncate */
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    margin-bottom: 6px;
}

.rating {
    display: none;
}

.item_price {
    color: var(--pink);
    font-weight: bold;
    margin-bottom: 5px;
}

.item_quantity {
    color: #bbbbbb;
}

.removeButton {
    background-color: white;
    color: #c9c9c9;
    border: 0.5px #e0e0e0 solid;
    padding: 4px 10px 4.5px 10px;
    position: absolute;
    bottom: 0;
    border-radius: 5px;
    font-size: 12px;
}

.removeButton:hover {
    background-color: #f5f5f5;
    cursor: pointer;
    color: #D6D6D6;
}







.billing_info {
    width: 90%;
    background-color: white;
    font-family: var(--main_font);
    margin: 0px auto;
    padding: 20px;
    border: 0.5px #ececec solid;
}

.label {
    color: var(--pink);
    font-weight: bold;
    margin-bottom: 5px;
}

.billing_info input, #shipping_address {
    width: 90%;
    padding: 5px 10px;
    margin: 0px auto 6px auto;
    border: 1px #e2e2e2 solid;
    border-radius: 5px;
    font-size: 11px;
    color: #7a7a7a;
}

input::placeholder, #shipping_address::placeholder {
    color: #c4c4c4;
}

#shipping_address {
    resize: none;
    height: 100px;
    margin-bottom: 10px;
}

#creditCardNumber {
    margin-bottom: 10px;
}




.subtotal {
    font-size: 13px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 6px; 
    width: 100%;
    color: #c2c2c2;
    /* background-color: #FF9B9B; */
}

#subtotal_value, #total_price{
    text-align: right;
    display: grid;
    justify-self: right;
}

#total, #total_price {
    font-weight: bold;
    font-size: 15px;
    color: #979797;
}

#total_price {
    color: #4FD9B8;
}

.vat_note {
    font-size: 9px;
    width: 100%;
    text-align: end;
    margin-top: 5px;
    color: #c2c2c2;
}



#pay_button {
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    padding: 8px;
    color: white;
    background-color: #4FD9B8;
    border: none;

    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

#pay_button:hover {
    cursor: pointer;
    background-color: #44eec6;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.096), 0 10px 10px rgba(0, 0, 0, 0.068);
}

.end {
    font-size: 12px;
    /* background-color: #44eec6; */
    text-align: center;
    color: #c9c9c9;
    padding-bottom: 20px;
}









































/* For Tablets and Desktops */
@media only screen and (min-width: 1502px) {
    .wrapper_container {
        /* background-color: #f5f5f5; */
        width: 50%;
        padding: 10px 20px;
        margin: 60px 35% 0px auto;
        border: 0.2px #ebebeb solid;
        margin-bottom: 100px;
    }

    .wrapper_container h1 {
        font-size: 60px;
    }



    .item {
        width: 100%;
        /* background-color: white; */
        display: inline-flex;
        font-family: var(--main_font);
        padding-bottom: 10px;
        border-bottom: 1px rgb(226, 226, 226) solid;
        margin-bottom: 13px;
        position: relative;
    }

    .item_image_container {
        width: 400px;
        height: 200px;
        background-color: #9ed0ff;
    }


    .rating {
        padding: 0px;
        margin: 0px;
        /* background-color: #44eec6; */
        width: max-content;
        display: block;
    }

    .star {
        height: 15px;
    }

    

    .product_name {
        /* background-color: #44eec6; */
        font-size: 17px;
        max-width: 50%;

        /* truncate */
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    
        margin-bottom: 6px;
    }



    .item_quantity {
        /* background-color: #44eec6; */
        width: 70px;
        font-size: 17px;
        position: absolute;
        top: 0;
        left: 64%;

        /* truncate */
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .item_price {
        /* background-color: #44eec6; */
        width: 140px;
        font-size: 18px;
        position: absolute;
        top: 0;
        left: 80%;

        /* truncate */
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
    }

    .removeButton {
        display: block;
        font-size: 15px;
        padding: 5px 10px;
    }

    .removeButton:hover {
        background-color: #e0e0e0;
        color: white;
        border: none;
    }

    






    .billing_info {
        /* display: none; */
        position: fixed;
        width: 290px;
        z-index: 2;
        left: 66%;
        top: 59px;
    }

    .label {
        font-size: 20px;
        color: var(--pink);
        font-weight: bold;
        margin-bottom: 5px;
    }
    
    .billing_info input, #shipping_address {
        width: 90%;
        padding: 5px 10px;
        margin: 0px auto 6px auto;
        border: 1px #e2e2e2 solid;
        border-radius: 5px;
        font-size: 15px;
        color: #7a7a7a;
    }
    
    input::placeholder, #shipping_address::placeholder {
        color: #c4c4c4;
    }
    
    #shipping_address {
        resize: none;
        height: 100px;
        margin-bottom: 10px;
    }
    
    #creditCardNumber {
        margin-bottom: 10px;
    }





    .subtotal {
        font-size: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-row-gap: 6px; 
        width: 100%;
        color: #c2c2c2;
        /* background-color: #FF9B9B; */
    }
    
    #subtotal_value, #total_price{
        text-align: right;
        display: grid;
        justify-self: right;
    }
    
    #total, #total_price {
        font-weight: bold;
        font-size: 18px;
        color: #979797;
    }
    
    #total_price {
        color: #4FD9B8;
    }
    
    
    
    #pay_button {
        width: 100%;
        font-size: 13px;
        font-weight: bold;
        padding: 8px;
        color: white;
        background-color: #4FD9B8;
        border: none;
    
        transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    }
    
    #pay_button:hover {
        cursor: pointer;
        background-color: #44eec6;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.096), 0 10px 10px rgba(0, 0, 0, 0.068);
    }



    .end {
        font-size: 15px;
        /* background-color: #44eec6; */
        text-align: center;
        color: #c9c9c9;
        padding-bottom: 4px;
    }
}